<v-app-bar class="custom-app-bar">
  <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

  <img
    alt="logo"
    src="@/assets/logo.svg"
    height="40"
    class="d-inline-block align-top ml-2"
    style="cursor: pointer"
    @click.prevent="$router.push('/')"
  />

  <v-app-bar-title style="cursor: pointer" @click.prevent="$router.push('/')">
    Project name
  </v-app-bar-title>

  <v-menu v-if="!xs && user">
    <template v-slot:activator="{ props }">
      <v-chip class="mx-2" v-bind="props" append-icon="mdi-menu-down">
        <v-avatar left>
          <v-icon>mdi-account-circle</v-icon>
        </v-avatar>
        <div class="mx-2">{{ user.displayName }}</div>
      </v-chip>
    </template>
    <v-list class="ma-0 pa-0" rounded="xl">
      <!-- TODO: change route of profil button to the correct destination -->
      <v-list-item style="cursor: pointer" class="dropdown-button">
        <v-list-item-title
          class="text-center"
          @click.prevent="$router.push('/profile')"
        >
          Profil
        </v-list-item-title>
      </v-list-item>
      <v-divider></v-divider>
      <v-list-item @click.prevent="handleLogout" class="dropdown-button">
        <v-list-item-title class="text-center"> Logout </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>

  <v-btn v-if="!xs && !user" prepend-icon="mdi-login" to="/login" rounded>
    Login
  </v-btn>

  <v-btn v-if="!xs" icon="mdi-theme-light-dark" @click="toggleTheme"></v-btn>
</v-app-bar>

<v-navigation-drawer v-model="drawer">
  <v-list v-if="xs" class="mt-5">
    <v-list-item
      v-if="user"
      prepend-icon="mdi-account-circle"
      :title="user.displayName"
    />
    <v-list-item
      v-if="!user"
      title="Login"
      prepend-icon="mdi-login"
      link
      router
      :to="{ name: 'Login' }"
    />
  </v-list>

  <v-divider class="mt-5"></v-divider>

  <v-list>
    <v-list-item
      v-for="item in features"
      :key="item.title"
      :title="item.title"
      :prepend-icon="item.icon"
      link
      router
      :to="{ name: item.route }"
    />
  </v-list>

  <v-divider class="mt-5"></v-divider>

  <v-list nav>
    <v-list-item
      :title="themeTitle"
      prepend-icon="mdi-theme-light-dark"
      @click="toggleTheme"
    />
  </v-list>
</v-navigation-drawer>
